<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

<p>
    Total objects stored in current session are
    <th:block th:text="${session.size()}">0</th:block>.
</p>

<p>
    Is session empty?
    <th:block th:text="${session.isEmpty()} ? 'Yes' : 'No'">Yes</th:block>
</p>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>